Repository sportsru/docker-pgbouncer: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint_Dockerfile, lint_entrypoint, get_currentversion, build_image

.gitlab-ci.yml:

before_script:
  - 'echo "Stage start time: $(date)"'

stages:
  - lint
  - get_info
  - build_image

lint_Dockerfile:
  stage: lint
  script:
    - hadolint Dockerfile
  image: hadolint/hadolint:latest-debian
  only:
    changes:
    - Dockerfile
    - .gitlab-ci.yml

lint_entrypoint:
  stage: lint
  script:
    - shellcheck entrypoint.sh
  image: koalaman/shellcheck-alpine
  only:
    changes:
    - entrypoint.sh
    - .gitlab-ci.yml

get_currentversion:
  stage: get_info
  script:
    - |
        apk add curl
        curl -sLI https://github.com/pgbouncer/pgbouncer/releases/latest | \
            awk -F '/' \
                '/^Location/ {
                    sub("\r$", "");
                    split($NF, v, "_");
                    print v[2] "."  v[3] "." v[4]}
                ' > version.out
  image: alpine
  artifacts:
    paths:
    - version.out
    expire_in: 12 hours
  only:
    changes:
    - Dockerfile
    - entrypoint.sh
    - .gitlab-ci.yml

build_image:
  stage: build_image
  script:
    - |
        #!/bin/sh
        set +x

        ORG='pgbouncer'
        REPO='pgbouncer'
        VERSION="$(cat version.out)"

        docker --version

        docker build \
            -t "${ORG}/${REPO}:latest" \
            --build-arg PGBOUNCER_VERSION="$VERSION" \
            .

        docker pull "${ORG}/${REPO}:$VERSION" || {
            docker tag "${ORG}/${REPO}:latest" "${ORG}/${REPO}:$VERSION"

            docker login \
                --username "$DOCKER_ID_USER" \
                --password "$DOCKER_PASSWORD"

            docker images \
                --filter reference="${ORG}/${REPO}" \
                --format "{{.Tag}}"  > /tmp/docker_image_version

            while read tag; do
                docker push "${ORG}/${REPO}:$tag"
            done < /tmp/docker_image_version
        }
  image: docker:stable
  variables:
    DOCKER_HOST: tcp://docker:2375/
    DOCKER_DRIVER: overlay2
  services:
  - docker:dind
  only:
    changes:
    - Dockerfile
    - entrypoint.sh
    - .gitlab-ci.yml

Corrected typo.
  entrypoint.sh
Due: lint_entrypoint, get_currentversion, build_image

Updated README.md to include time of build.
  README.md
Due: none

Cleaned up superfluous variable validation.
  entrypoint.sh
Due: lint_entrypoint, get_currentversion, build_image

Updated package version iaw new package versions available.
  Dockerfile
Due: lint_Dockerfile, get_currentversion, build_image

Changed gcc version.
  Dockerfile
Due: lint_Dockerfile, get_currentversion, build_image

Add auth_user
  entrypoint.sh
Due: lint_entrypoint, get_currentversion, build_image

Modified CI pipeline to udpate image.
  .gitlab-ci.yml
  Dockerfile
Due: lint_Dockerfile, lint_entrypoint, get_currentversion, build_image

Fixed issue in shell script.
  .gitlab-ci.yml
Due: lint_Dockerfile, lint_entrypoint, get_currentversion, build_image

Added back in if statement.
  .gitlab-ci.yml
Due: lint_Dockerfile, lint_entrypoint, get_currentversion, build_image

Pinned later version of curl.
  Dockerfile
Due: lint_Dockerfile, get_currentversion, build_image

Unpinned yum packages, added additional database optoins for #2.
  .gitlab-ci.yml
  Dockerfile
  entrypoint.sh
Due: lint_Dockerfile, lint_entrypoint, get_currentversion, build_image

Added CA certificates to /etc/ssl/certs/ for #1.
  Dockerfile
Due: lint_Dockerfile, get_currentversion, build_image

Provide `DATABASES_CLIENT_SIDE_DBNAME` environment variable to configure client side database name.
  entrypoint.sh
Due: lint_entrypoint, get_currentversion, build_image

Add manage in raw format section of databases.
  Dockerfile
  README.md
  entrypoint.sh
Due: lint_Dockerfile, lint_entrypoint, get_currentversion, build_image

Update link in README.md.
  README.md
Due: none

Update pgbouncer version to 1.12.0.
  Dockerfile
Due: lint_Dockerfile, get_currentversion, build_image

Do not set a DATABASES_USER when the user does not provide one
  entrypoint.sh
Due: lint_entrypoint, get_currentversion, build_image

Allow Location or location when looking at headers in CI
  .gitlab-ci.yml
Due: lint_Dockerfile, lint_entrypoint, get_currentversion, build_image

Update entrypoint.sh
  entrypoint.sh
Due: lint_entrypoint, get_currentversion, build_image

Update pgbouncer version to 1.13.0.
  Dockerfile
Due: lint_Dockerfile, get_currentversion, build_image

Update pgbouncer version to 1.14.0.
  Dockerfile
Due: lint_Dockerfile, get_currentversion, build_image

Update pgbouncer version to 1.15.0 and alpine 3.12.
  Dockerfile
Due: lint_Dockerfile, get_currentversion, build_image

Update alpine to 3.14 and pgbouncer to 1.16.0.
  Dockerfile
Due: lint_Dockerfile, get_currentversion, build_image
